
.item__name{
  font-size: 22px;
  font-weight: 600;
}

.item__image{
  display: flex;
  justify-content: center;
}

.item__image img{
  align-self: center;
  max-width: 350px;
  width: auto;
  height: auto;
  cursor: pointer;
}
